body{
	background-color: #008532;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQBAMAAAD+CqKmAAAAElBMVEXz8/Po6Oj////4+Pj7+/v19fXck713AAAAbklEQVQI11XNwQkDMQxE0QFJBWRKSAUCxXeB7bvA2f5bCcHgTf7hXx8eP4HPb/vgLAEoUuKgqeBiZmWA3dBfjJQBcK2spJWqgS1ChLDIAU7NcI6Y3v6djexj2U1BZzsUfL0PBe9+KMh1U7CSQ30ArNcZPoEeBscAAAAASUVORK5CYII=');
	position: relative;
	text-align: center;
	left: 0;
	right: 0;
	font-family: "Helvetica Neue",arial,sans-serif;
	font-size: 15px;
}
#main{
    margin:0 auto;
    width:1000px;
}
#header{
background-color: #001a35;
margin-bottom: 2%;
padding: 10px 0 10px 0;
border-radius: 20px;
}
#header a{margin:auto;height:30px;color: #00c0ef;font-size: 28px;}
#header img{width:30px;height:30px;border-radius: 30px;}

#notice{
border-width:0;
border-style: none;
border-color: rgba(255, 255, 255, 0.5);
width: 100%;
height: 74px;
overflow:hidden;
}

#source_video{
display:none;
}

#vip{
position:relative;
border: 0;
text-align: center;
}
#videoname
{
}
#vplay{
width:90%;
height:80vh;
border-right-width: 8px;
border-top-width: 5px;
border-bottom-width: 5px;
border-left-width: 8px;
border-color: black;
border-radius: 5px;
overflow:hidden;
background-color: rgb(191, 191, 191);
background-image:url(!snow.gif);
}

#description{
text-align: center;
font-size: 15px;
margin: 0 5px 0 5px;
}
.feedback{
margin-left: 2px;
width: auto;
background-color:#DB7326;
border-radius: 5px;
font-size: 15px;
color:white;
}

#api{
margin-bottom: 2%;
margin-top: 30px;
margin-bottom: 50px;
text-align: left;
background-image: url();
display:block;
}
#url{
width: 95%;
margin-bottom: 2%;
height:30px;
border-radius: 2px;
display:block;
}
.selectid{
display:inline;
}
.userapi{
display:none;
}
.okbutton{
width: 20%;
height:30px;
background-color: #c2e0ff;
border-radius: 5px;
font-size: 15px;
display:block;
}

.msg{
	display: block;
}
.msg_row2{
clear:both;
margin:0 auto;
width: 600px;
}
.logs{
    text-align: left;
    margin:0;
}

#textlogobase{
text-align:center;
}
#textlogo{
text-align:left;
display:inline-block;
margin:0 auto;
width: 600px;
}

#foot{
text-align: center;
font-size: 80%;
width:100%;
margin-top: 40px;
color: #111;
}
#cnzz_stat_icon_1263020785{
display:block;
font-size:80%;
border:2px solid #bde9ff;
}



li {
    list-style: none
}

a:link,a:visited {
    text-decoration: none
}

.logos_lists dl dd,.logos_lists h4 {
    font-size: 14px;
    font-family: "Microsoft Yahei";
}

a img,img {
    max-height: 450px;
    border: 0
}

.logos_lists h4 {
    padding: 10px 0;
    text-align: left;
    color: #666;
    font-weight: 400
}

.logos_lists dl {
    float: left;
    position: relative;
    padding: 16px 14px;
    margin: 10px;
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 5px;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s
}

.logos_lists dl:hover {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)
}

.logos_lists dl dt img {
    width: 110px
}

.logos_lists dl dd {
    display: none;
    color: #262626
}
