    html body{background-color: #009fc7;margin: 0 auto 0;padding: 0;position: relative;text-align: left;}
    #url{width: 95%;margin-bottom: 2%;height:30px;border-radius: 2px;}
    .anniu{width: 20%;height:30px;background-color: #c2e0ff;border-radius: 5px;font-size: 50%;
    }
    #ckvip{position:relative;border: 0;text-align: center;}
    #vplay{width:90%; height:250px;
        border-right-width: 8px;
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 8px;
        border-color: black;
        border-radius: 5px;
        background-color: rgb(191, 191, 191);
    }
    footer{text-align: center;font-size: 50%;width:100%;margin-top: 40px;}
    #guanggkjdn{display: block;z-index: 999999;background-color: rgba(0, 0, 0, 0.92);position: fixed;width: 100%;height: 100%;text-align: center;margin-top: -20px;}
    .header_a{color: #00c0ef;font-size: 28px;}
    .header{background-color: #001a35;text-align: center;margin-bottom: 2%;padding: 10px 0 10px 0}
    .containe{margin-bottom: 2%;margin-top: 30px;margin-bottom:50px;text-align: center;background-image: url("")}
    .jieshao{text-align: center;font-size: 0.65rem;margin: 0 5px 0 5px;}
    .dfdsfsd{top: 10%;position: relative;width: 70%;margin: auto;left: 0;right: 0;}
    .imgdfsf{width:260px;}
    .pdsfsdf{color: white;}
    .divfdgdfg{position: relative;top: 19px;}
    .inpdsfdsfs{width:auto;background-color: #55a3e6;border-radius:2px;border: 1px solid #55a3e6;line-height: 182%;color: white;margin-right: 8.5px;}
    .inpabfhdsf{width:auto;background-color: #55a3e6;border-radius:2px;border: 1px solid #55a3e6;line-height: 182%;color: white;margin-left: 8.5px;}
    .sdadhjkdas{max-width: 640px;margin:auto;left: 0;right: 0;}
    .imgsjdlkf{width:30px;}
    .pndfjuijnn{color: #ffffff;font-size: 0.9rem;margin-top: 0;}
    .inpdnf2525{margin-left: 7px;width: 16%;background-color:black;border-radius: 5px;font-size: 50%;color:white;}
    .pioemmmmd{color:#ffffff;margin: 0 50px 0 50px}
    #iframehsdjkf{border-width:0;border-style: none;border-color: rgba(255, 255, 255, 0);border-image: none;width: 100%;height: 74px;}
    #titishi{display: none;color: red;}
    .fsfdsf{padding: 0 20px;}
    .afdsfds{color: #001a35;text-decoration:none;font-size: 1rem;}
    .afdsfds:hover{ color:#ffffff; }
    .divsdasd{border: 1px solid #bde9ff;width: 100%;}
    #seleid{width: 66px; height: 30px;border-radius: 2px;}